appdirs==1.4.3
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.29
django-cors-headers==2.1.0
djangorestframework==3.6.3
idna==2.5
linecache2==1.0.0
packaging==16.8
psycopg2==2.7.1
PyJWT==1.5.2
pyparsing==2.2.0
pytz==2017.2
requests==2.18.3
six==1.10.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.22
