<!DOCTYPE html>
<html>
  <head>
    <title>Semaphore</title>
    <link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/manage.css">
  </head>

  <body>
    <div class="mainContainer">
      <div class="headerContainer">
        <div class="headerContent">
          <div class="headerTitle">Semaphore</div>
          <div class="navigationContainer">
            <a class="navLink" id="wecomeLink" href="/welcome">Home</a>
            <a class="navLink" id="signinLink" href="/signin">Sign In</a>
            <a class="navLink" id="signupLink" href="/signup">Sign Up</a>
            <a class="navLink" id="logoutLink" href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="button">button</div>
      <div id="overlay"></div>
      <div id="popup">
        <div id="popupHeader">
          <div id="popupTitle">Add an Instance</div>
          <div id="popupclose">close</div>
        </div>
        <div id="popupForm">
          <form action='/service/' method="POST">
            <div class="cloud-provider">
              <label class="cloudLabel" for="cloudSelect">Cloud Provider</label>
              <select class="cloudSelect">
                <option value="-">---</option>
                <option value="Amazon Web Services">Amazon Web Services</option>
                <option value="Google Cloud Platform">Google Cloud Platform</option>
                <option value="Microsoft Azure">Microsoft Azure</option>
                <option value="digital ocean">Digital Ocean</option>
              </select>
            </div>
            <div class="provider-service">
              <label class="cloudLabel" for="cloudSelect">Cloud Service</label>
              <select class="cloudSelect">
                <option value="-">---</option>
                <option value="EC2">EC2</option>
                <option value="EBS">EBS</option>
              </select>
            </div>
            <div class="hostnameField">
              <label class="hostnameLabel" for="hostname">Hostname</label>
              <input class="hostnameInput" type="text" id="hostname" name='hostname'>
            </div>
            <button id="hostnameButton" type="submit" name="add-instance">Add Instance</button>
          </form>
        </div>
      </div>
    </div>

    <div class="contentContainer">
      <div class="tableContainer">
        {% if aws %}
        <div class="tableHeader" id="blue"><p>Amazon Web Services</p></div>
        <table class="full-width mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Instance</th>
                <th class="mdl-data-table__cell--non-numeric">Cloud Provider</th>
                <th class="mdl-data-table__cell--non-numeric">Service</th>
                <th class="mdl-data-table__cell--non-numeric">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for instance in aws %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric"> {{ instance.instance }} </td>
                <td class="mdl-data-table__cell--non-numeric"> {{ instance.instance_provider }} </td>
                <td class="mdl-data-table__cell--non-numeric"> {{ instance.provider_service }} </td>
                <td class="mdl-data-table__cell--non-numeric"><a href="/delete/{{ instance.id }}/">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
      {% endif %}
    </div>

    <div class="tableContainer">
      {% if gcp %}
      <div class="tableHeader" id="yellow"><p>Google Cloud Platform</p></div>
      <table class="full-width mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Instance</th>
              <th class="mdl-data-table__cell--non-numeric">Cloud Provider</th>
              <th class="mdl-data-table__cell--non-numeric">Service</th>
              <th class="mdl-data-table__cell--non-numeric">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for instance in gcp %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"> {{ instance.instance }} </td>
              <td class="mdl-data-table__cell--non-numeric"> {{ instance.instance_provider }} </td>
              <td class="mdl-data-table__cell--non-numeric"> {{ instance.provider_service }} </td>
              <td class="mdl-data-table__cell--non-numeric"><a href="/delete/{{ instance.id }}/">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
    {% endif %}
  </div>

    <div class="tableContainer">
      {% if azure %}
      <div class="tableHeader" id="red"><p>Microsoft Azure</p></div>
      <table class="full-width mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Instance</th>
              <th class="mdl-data-table__cell--non-numeric">Cloud Provider</th>
              <th class="mdl-data-table__cell--non-numeric">Service</th>
              <th class="mdl-data-table__cell--non-numeric">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for instance in azure %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"> {{ instance.instance }} </td>
              <td class="mdl-data-table__cell--non-numeric"> {{ instance.instance_provider }} </td>
              <td class="mdl-data-table__cell--non-numeric"> {{ instance.provider_service }} </td>
              <td class="mdl-data-table__cell--non-numeric"><a href="/delete/{{ instance.id }}/">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
    {% endif %}
  </div>


  </div>
</body>
  <script type="text/javascript">
    // Initialize Variables
    var closePopup = document.getElementById("popupclose");
    var overlay = document.getElementById("overlay");
    var popup = document.getElementById("popup");
    var button = document.getElementById("button");
    // Close Popup Event
    closePopup.onclick = function() {
      overlay.style.display = 'none';
      popup.style.display = 'none';
    };
    // Show Overlay and Popup
    button.onclick = function() {
      overlay.style.display = 'block';
      popup.style.display = 'block';
    }
  </script>
</html>
